[user]
	name = Tomas Izo
	email = tomas@izo.sk
[core]
	editor = vim
	excludesfile = /Users/tomasizo/.gitignore_global
	pager = vim -c AnsiEsc -
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[color]
	ui = auto
[credential]
	helper = osxkeychain
[alias]
	add-commit = !git add -A && git commit
	lg =!git log --graph
	# AutoCommitPush: a-add, c-commit, p-push
	cp = "!f() { git commit -m \"$1\" && git push origin master;  }; f"
	ac = "!f() { git add .  && git commit -m \"$1\";  }; f"
	aca = "!f() { git add .  && git commit --amend --no-edit \"$1\";  }; f"
	acp = "!f() { git add .  && git commit -m \"$1\" && git push origin master; }; f"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/tomasizo/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
